#return_button {
    height: 2%;
    
    position: absolute;
    
    left: 25%;
    top: 0;
    bottom: 75%;
    
    margin: auto;
}

.main_menu {
    width: 1.7859in;
    max-width: 1.7859in;
    height: 1.7859in;
    max-height: 1.7859in;
    
    position: relative;
    
    background: #F0901B;
    
    border-radius: 50%;
}

.main_menu_top {
    position: absolute;
    
    top: 4%;
    left: 8%;
    right: 8%;
    bottom: 86%;
}

.question_mark {
    position: absolute;
    
    top: 0;
    left: 45%;
    right: 45%;
    bottom: 0;
}

#help {
    height: 100%;
    
    position: absolute;
    
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    
    margin: auto;
}

.main_menu_middle {
    position: absolute;
    
    top: 18%;
    left: 8%;
    right: 8%;
    bottom: 18%;
    
    background: #F0901B;
    
    border-top-left-radius: 36.195336% 50%;
    border-top-right-radius: 36.195336% 50%;
    border-bottom-right-radius: 36.195336% 50%;
    border-bottom-left-radius: 36.195336% 50%;
}

.top_margin {
    position: absolute;
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 50%;
    
    background: #242424;
    
    border-top-left-radius: 36.195336% 100%;
    border-top-right-radius: 36.195336% 100%;
}

.middle_margin {
    position: absolute;
    
    top: 50%;
    left: 0;
    right: 0;
    bottom: calc(37.5% + 3pt);
    
    background: #242424;
    
    border-bottom-left-radius: 1.587708% 100%;
    border-bottom-right-radius: 1.587708% 100%;
}

.middle_margin_curved_edges {
    position: absolute;
    
    top: calc(62.5% - 3pt);
    left: 0;
    right: 0;
    bottom: 37.5%;
    
    background: #242424;
    
    border-bottom-left-radius: 3pt;
    border-bottom-right-radius: 3pt;
}

.text {
    color: white;
    
    font-size: 12pt;
}

.name {
    position: absolute;
    
    left: 0;
    right: 0;
    top: 12%;
    bottom: 68.75%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.time {
    position: absolute;
    
    left: 0;
    right: 0;
    top: 31.25%;
    bottom: 37.5%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.tirar_bilhete {
    position: absolute;
    
    left: 1.587708%;
    right: 1.587708%;
    top: 12%;
    bottom: 0;
    
    background: #242424;

    border-top-left-radius: 3pt;
    border-top-right-radius: 3pt;
    border-bottom-right-radius: 38.276259% 100%;
    border-bottom-left-radius: 38.276259% 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom_margin {
    position: absolute;
    
    left: 0;
    right: 0;
    top: 62.5%;
    bottom: 0;
    
    background: #F0901B;
    
    border-bottom-right-radius: 0.89295in;
    border-bottom-left-radius: 0.89295in;
    
    display: flex;
    align-items: center;
    justify-content: center;
}


.main_menu_bottom {
    position: absolute;
    
    top: 86%;
    left: 8%;
    right: 8%;
    bottom: 4%;
}