/* Outer Icons */
#relogio {
    height: 4in;
    max-height: 4in;
    
    position: absolute;
    
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    
    margin: auto;
}

#home {
    height: 4%;
    
    position: absolute;
    
    left: 64%;
    top: 0;
    bottom: 0%;
    
    margin: auto;
}

#power {
    height: 4%;
    
    position: absolute;
    
    left: 62%;
    top: 0;
    bottom: -15%;
    
    margin: auto;
}

#return_button {
    height: 3%;
    
    position: absolute;
    
    left: 62%;
    top: 0;
    bottom: 15%;
    
    margin: auto;
}

.main {
    width: 3in;
    max-width: 3in;
    height: 3.5in;
    max-height: 3.5in;
    
    position: absolute;
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    border: 2px solid #242424;
}

/* Menus */

.main_menu { 
    box-sizing: border-box;
    
    width: 1.7859in;
    max-width: 1.7859in;
    height: 1.7859in;
    max-height: 1.7859in;
    
    position: absolute;
    
    top: 25%;
    left: 35%;
    right: 0;
    bottom: 0;
    
    background: #242424;
    
    border-radius: 50%;
}

.main_menu_top {
    position: absolute;
    
    top: 4%;
    left: 8%;
    right: 8%;
    bottom: 86%;
}

.main_menu_middle {
    position: absolute;
    
    top: 18%;
    left: 8%;
    right: 8%;
    bottom: 18%;
}

.main_menu_button_top {    
    position: absolute;
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 53.125%;
}

.main_menu_button_top_left {
    position: absolute;
    
    top: 0;
    left: 0;
    right: 52.38095238%;
    bottom: 0;
    
    background: #36B824;
    
    border-top-left-radius: 1.5in;
    border-top-right-radius: 15pt;
    border-bottom-right-radius: 15pt;
    border-bottom-left-radius: 15pt;
}

.main_menu_button_top_right {
    position: absolute;
    
    top: 0;
    left: 52.38095238%;
    right: 0;
    bottom: 0;  
        
    background: #2276D1;
    
    border-top-left-radius: 15pt;
    border-top-right-radius: 1.5in;
    border-bottom-right-radius: 15pt;
    border-bottom-left-radius: 15pt;
}

.main_menu_button_bottom {
    position: absolute;
    
    top: 53.125%;
    left: 0;
    right: 0;
    bottom: 0;
}

.main_menu_button_bottom_right {
    position: absolute;
    
    top: 0;
    left: 52.38095238%;
    right: 0;
    bottom: 0;  
    
    background: #7E7E7E;
    /*border: 2px solid #7E7E7E;*/
    
    border-top-left-radius: 15pt;
    border-top-right-radius: 15pt;
    border-bottom-right-radius: 1.5in;
    border-bottom-left-radius: 15pt;
}

.main_menu_button_bottom_left {
    position: absolute;
    
    top: 0;
    left: 0;
    right: 52.38095238%;
    bottom: 0;
    
    background: #F0901B;
    
    border-top-left-radius: 15pt;
    border-top-right-radius: 15pt;
    border-bottom-right-radius: 15pt;
    border-bottom-left-radius: 1.5in;
}

.main_menu_bottom {
    position: absolute;
    
    top: 86%;
    left: 8%;
    right: 8%;
    bottom: 4%;
}

/* Menu Icons */

.question_mark {
    position: absolute;
    
    top: 0;
    left: 45%;
    right: 45%;
    bottom: 0;
}

#help {
    height: 100%;
    
    position: absolute;
    
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    
    margin: auto;
}

#payments {
    height: 80%;
    
    position: absolute;
    
    right: 0;
    left: 15%;
    top: 0;
    bottom: 0;
    
    margin: auto;
}

#friends {
    height: 80%;
    
    position: absolute;
    
    right: 15%;
    left: 0;
    top: 0;
    bottom: 0;
    
    margin: auto;
}

#settings {
    height: 80%;
    
    position: absolute;
    
    right: 15%;
    left: 0;
    top: 0;
    bottom: 0;
    
    margin: auto;
}

#tickets {
    height: 80%;
    
    position: absolute;
    
    right: 0;
    left: 15%;
    top: 0;
    bottom: 0;
    
    margin: auto;
}

