.main_menu { 
    box-sizing: border-box;
    
    width: 1.7859in;
    max-width: 1.7859in;
    height: 1.7859in;
    max-height: 1.7859in;
    
    position: relative;
    
    background: #F0901B;
    
    border-radius: 1.5in;
}

.main_menu_top {
    position: absolute;
    
    top: 4%;
    left: 8%;
    right: 8%;
    bottom: 86%;
}

.main_menu_middle {
    padding-left: 10%;
    padding-right: 10%;
    
    position: absolute;
    
    top: 18%;
    left: 8%;
    right: 8%;
    bottom: 18%;
    
    background: #242424;
    
    border-top-left-radius: 1.5in;
    border-top-right-radius: 1.5in;
    border-bottom-right-radius: 1.5in;
    border-bottom-left-radius: 1.5in;
}


.text {
    color: white;
    
    font-size: 12pt;
}

.name {
    position: absolute;
    
    left: 0;
    right: 0;
    top: 0;
    bottom: 76.5625%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.time {
    position: absolute;
    
    left: 0;
    right: 0;
    top: 23.4375%;
    bottom: 29.6875%;
    
    border-bottom: 2px solid #F0901B;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.tirar_bilhete {
    position: absolute;
    
    left: 0;
    right: 0;
    top: 70.3125%;
    bottom: 0;
    
    border-top: 2px solid #F0901B;
    
    display: flex;
    align-items: center;
    justify-content: center;
}


.main_menu_bottom {
    position: absolute;
    
    top: 86%;
    left: 8%;
    right: 8%;
    bottom: 4%;
}