#return_button {
    height: 2%;
    
    position: absolute;
    
    left: 25%;
    top: 0;
    bottom: 75%;
    
    margin: auto;
}

.main_menu { 
    box-sizing: border-box;
    
    width: 1.7859in;
    max-width: 1.7859in;
    height: 1.7859in;
    max-height: 1.7859in;
    
    position: relative;
    
    background: #242424;
    
    border-radius: 1.5in;
}

.main_menu_top {
    position: absolute;
    
    top: 4%;
    left: 8%;
    right: 8%;
    bottom: 86%;
}

.question_mark {
    position: absolute;
    
    top: 0;
    left: 45%;
    right: 45%;
    bottom: 0;
}

#help {
    height: 100%;
    
    position: absolute;
    
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    
    margin: auto;
}

.main_menu_middle {
    position: absolute;
    
    top: 18%;
    left: 8%;
    right: 8%;
    bottom: 18%;
}

.main_menu_bottom {
    position: absolute;
    
    top: 86%;
    left: 8%;
    right: 8%;
    bottom: 4%;
}


.main_menu_button_top {    
    position: absolute;
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 50%;
}

.main_menu_button_bottom {
    position: absolute;
    
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
}

.margin {
    position: absolute;
    
    top: 50%;
    left: 46.2%;
    right: 50%;
    bottom: 45.1%;
    
    border-left: 2px solid #2276D1;
    border-bottom: 2px solid #2276D1;

    border-bottom-left-radius: 15pt;
}

.main_menu_button_top_left {
    position: absolute;
    
    top: 0;
    left: 0;
    right: 52.38095238%;
    bottom: 0;
    
    border-left: 2px solid #2276D1;;
    border-top: 2px solid #2276D1;
    border-right: 2px solid #2276D1;
    
    border-top-left-radius: 1.5in;
    border-top-right-radius: 15pt;
}

#friends {
    height: 80%;
    
    position: absolute;
    
    right: 15%;
    left: 0;
    top: 0;
    bottom: 0;
    
    margin: auto;
}

.main_menu_button_top_right {
    position: absolute;
    
    top: 0;
    left: 52.38095238%;
    right: 0;
    bottom: 6.25%;  
    
    background: #2276D1;
    
    border-top-left-radius: 15pt;
    border-top-right-radius: 1.5in;
}

.main_menu_button_bottom_right {
    position: absolute;
    
    top: 6.25%;
    left: 50%;
    right: 0;
    bottom: 0;  
    
    border-right: 2px solid #2276D1;
    border-bottom: 2px solid #2276D1;
    border-top: 2px solid #2276D1;
    
    border-top-right-radius: 15pt;
    border-bottom-right-radius: 1.5in;
}

.main_menu_button_bottom_left {
    position: absolute;
    
    top: 0;
    left: 0;
    right: 50%;
    bottom: 0;
    
    border-left: 2px solid #2276D1;
    border-bottom: 2px solid #2276D1;
    
    border-bottom-left-radius: 1.5in;
}

.text_position {
    position: absolute;
    
    top: 40%;
    left: 10%;
    
    justify-content: center;
    align-items: center;
}

.text_position2 {
    position: absolute;
    
    top: 15%;
    left: 10%;
    
    justify-content: center;
    align-items: center;
}

.text {
    color: white;
}