/* Outer Icons*/

#relogio {
    height: 50%;
    
    position: absolute;
    
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    
    margin: auto;
}


#home {
    height: 4%;
    
    position: absolute;
    
    left: 64%;
    top: 0;
    bottom: 0%;
    
    margin: auto;
}

#power {
    height: 4%;
    
    position: absolute;
    
    left: 62%;
    top: 0;
    bottom: -15%;
    
    margin: auto;
}
#return_button {
    height: 3%;
    
    position: absolute;
    
    left: 62%;
    top: 0;
    bottom: 15%;
    
    margin: auto;
}

/* Menus */
.main_menu { 
    box-sizing: border-box;
    
    width: 1.7859in;
    max-width: 1.7859in;
    height: 1.7859in;
    max-height: 1.7859in;
    
    position: absolute;
    
    top: 38.5%;
    left: 38%;
    right: 0;
    bottom: 0;
    
    background: #F0901B;
    
    border-radius: 50%;
}

.main_menu_top {
    position: absolute;
    
    top: 4%;
    left: 8%;
    right: 8%;
    bottom: 86%;
}

.main_menu_middle {
    padding-left: 10%;
    padding-right: 10%;
    
    position: absolute;
    
    top: 18%;
    left: 8%;
    right: 8%;
    bottom: 18%;
    background: #242424;
    
    border-top-left-radius: 1.5in;
    border-top-right-radius: 1.5in;
    border-bottom-right-radius: 1.5in;
    border-bottom-left-radius: 1.5in;
    
   
    overflow: hidden;
}

.list {
    position: absolute;
    
    padding-left: 10%;
    padding-right: 10%;
    
    top: 0;
    left: 0;
    right: -17px;
    bottom: 0;
    
    overflow-y: scroll;
}

.main_menu_bottom {
    position: absolute;
    
    top: 86%;
    left: 8%;
    right: 8%;
    bottom: 4%;
}

.entry {
    height: 40%;
    width: 100%;
    
    border-bottom: 2px solid white;
    
    display: flex;
    
    justify-content: center;
    align-items: center;
}

/* Inner Icons*/

.question_mark {
    position: absolute;
    
    top: 0;
    left: 45%;
    right: 45%;
    bottom: 0;
}

#help {
    height: 100%;
    
    position: absolute;
    
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    
    margin: auto;
}

/* Text Definition*/
.text {
    color: white;
}

